<div class="row">
	<div class="span12"><h1><%= @page_title %></h1></div>
</div>

<div class="row">
	<div class="offset2 span8">
		<%= render :partial => "date", :locals => { :date => @interval.start } %>
		<% if @close_interval %>
			<span class="start-label">Entrada</span>
			<span class="interval"><%= raw @interval.start.strftime("%H:%M") %></span>
		<% end %>
	<%= render 'form' %>
	</div>
</div>

<div class="row">
	<div class="offset2 span8">
		<%= link_to 'Show', @interval %> |
		<%= link_to 'Back', intervals_path %>
	</div>
</div>

